<header class="site-header">
  <div class="wrap">
    <a href = "/">🧘 Yoga Studio </a>
    <nav>
    {{^user}}
      <a href = "/courses">Courses</a>
      <a href = "/login">Login</a>
      <a href = "/register">Register</a> 
    {{/user}}
    {{#user}}
    <a href = "/courses">Courses</a>
    <form method="post" action="/logout" style="display:inline;">
     <button class="btn" type="submit">Log out</button> 
     </form>
    {{/user}}
    </nav>
    {{#user}}
    <div class="user">
      Signed in as <strong>{{ name }}</strong>
    </div>
    {{/user}}
  </div>
</header>
