{{>head}}
{{>header}}
<main class="wrap">
<h1> Login <h1>

<form method= "post" action ="/login" class ="card">
<p>
    <label for ="email">Email:</label><br>
    <input id="email" type="email" name="email" required>
<p>

<p>
    <label for ="password">Password:</label><br>
    <input id="password" type="password" name="password" required>
<p>

<p>
    <button class="btn primary" type="submit">Login</button>
<p>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>

{{>footer}}